#controlButton,
#nextButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

#controlButton.play {
    background-color: green;
}

#controlButton.stop {
    background-color: red;
}

#nextButton {
    background-color: blue;
}