{%load static%}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Redirects</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <button class="redirect-button" onclick="location.href='/create'">Create Room</button>
        <button class="redirect-button" onclick="location.href='/join'">Join Room</button>
    </div>
</body>
</html>