{%load static%}


<head>
    <link rel="stylesheet" href="{% static 'roomstyle.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Audio Control</title>
</head>

<body>
    THIS IS ROOM ADMIN
    <button id="buzzer" class="buzzable hidden">Buzzer</button>    

    <audio id="audio"></audio>
    <div id="user" class="hidden">{{username}}</div>
    <div class="volume-control">
        <label for="volumeRange">Volume:</label>
        <input type="range" id="volumeRange" min="0" max="1" step="0.01" value="1">
    </div>

    <div id="buzzedPlayers"></div>
    <button id="toggleButton">Pause/Play</button>
    <button id="nextButton"  >Next Song</button>
    <button id="resetBuzzer"  >resetBuzzer</button>
    <button id="resetAudio" >reset audio</button>
    <div id ="songnames"> 


    <ul>
        {% for title in titles %}
        <li> {{title}} </li>
        {% endfor %}
    </ul>
    </div>
    <div id="songname"></div>
    <div id ="roomid" class="hidden"> {{room_number}} </div>
    
    <div class="right"> All players </div>
    <ul id= "allPlayers"> </ul>
    <script>
        
        const audioFiles = [
        {% for file in ids %}
        '/media/music_files/{{room_number}}/{{file}}',
        {% endfor %}
    ];

    let currentIndex = 0;
    let buzzed_players = [];
    
    const audio = document.getElementById('audio');
    const buzzer = document.getElementById('buzzer');
    const nextButton = document.getElementById('nextButton');
    const socket = new WebSocket(`ws://{{hostname}}:{{wsport}}`);
    const buzzedPlayerHTML = document.getElementById('buzzedPlayers');
    const toggleButton = document.getElementById('toggleButton');
    const resetBuzzer = document.getElementById('resetBuzzer');
    const roomid =  document.getElementById('roomid').innerHTML;

    audio.src = audioFiles[currentIndex];
    function updateSongName(){
        document.getElementById('songname').innerHTML = audioFiles[currentIndex].split('/').pop();
    }
    updateSongName();
    document.addEventListener('DOMContentLoaded', function() {
        var volumeRange = document.getElementById('volumeRange');
    
        volumeRange.addEventListener('input', function() {
            audio.volume = volumeRange.value;
        });
    });

    function fresetBuzzer(){
        buzzed_players = [];
        displayArray(buzzed_players, 'buzzedPlayers');
    }

    function toggle(){ 
    if (!audio.paused) {
        audio.pause();
}
    else {
        audio.play();}
    }
    function pause(user){
        if (buzzed_players.includes(user)===false) {
            audio.pause();
            buzzer.classList.remove('buzzable');
            buzzer.classList.add('buzzed');
            buzzed_players.push(user);
            displayArray(buzzed_players, 'buzzedPlayers');
        }
    }
    function fresetAudio(){
        audio.pause();
        audio.currentTime = 0;
        }
    function nextSong(){
        currentIndex = (currentIndex + 1) % audioFiles.length;
        audio.src = audioFiles[currentIndex];
        audio.play();
        buzzer.classList.remove('buzzable');
        buzzer.classList.add('play');
        buzzed_players = [];
        displayArray(buzzed_players, 'buzzedPlayers');
        updateSongName();

    }
    socket.addEventListener("open", (ev) => {
        socket.send(JSON.stringify({
            type: 'join',
            roomid : roomid,
            name: "{{username}}"
        }));
    
        });
     
    socket.onmessage = (event) => {
        
        try {
            const olddata = JSON.parse(event.data);
            const data = olddata.data
            console.log(data.action)
            if (data.action === 'pause') {
                pause(data.user)
            }
            if (data.action === 'toggle') {
               toggle()
            }
             else if (data.action === 'next') {
                nextSong();

            }
            else if (data.action === 'resetBuzzer') {
                fresetBuzzer();
            } 
            else if (data.action === 'resetAudio') {
                fresetAudio();
                currentIndex = data.index;
            }
            else if (data.action === "join"){
                
                let playerList = document.getElementById('allPlayers');
    
                playerList.innerHTML = '';
    
                data.players.forEach(player => {
                    let li = document.createElement('li');
                    li.textContent = player;
                    playerList.appendChild(li);
                });
                }
        } catch (error) {
            console.error('Error parsing JSON:', error);
        }
    };

    buzzer.addEventListener('click', () => {
        socket.send(JSON.stringify({
            type:"message",
            action: 'pause',
            user: document.getElementById('user').innerHTML,
        }));
    });

    resetBuzzer.addEventListener('click', () => {
        socket.send(JSON.stringify({
            type:"message",
            action: 'resetBuzzer',
        }));
    });

    nextButton.addEventListener('click', () => {
        socket.send(JSON.stringify({
            type:"message",
            action: 'next'
        }));
    });

    toggleButton.addEventListener('click', () => {
        socket.send(JSON.stringify({
            type:"message",
            action: 'toggle'
        }));
    });    

    resetAudio.addEventListener('click', () => {
        socket.send(JSON.stringify({
            type:"message",
            action: 'resetAudio',
            index: currentIndex
        }));
    });

    function displayArray(arr, elementId) {
        const arrayContainer = document.getElementById(elementId);
        let htmlContent = '<ul>'; 
        arr.forEach(item => {
            htmlContent += `<li>${item}</li>`;
        });
        htmlContent += '</ul>'; 
        arrayContainer.innerHTML = htmlContent;
    }

</script>
</body>
</html>